*, html, body {
    margin: 2px;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    background-color: rgb(246, 247, 236);
    /* list-style: none; */
    
}
.nav_menu{
    text-align: center;
    font-size: 25px;
}
a{
    /* text-decoration: none; */
    color: rgb(78, 59, 59);
}
h1{
    text-align: center;
    color: rgb(64, 133, 133);
}
h2{
    text-align: center;
}
.main_photo{
    width: 250px;
    height: 350px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
h3{
    margin-top: 20px;
    margin-bottom: 10px;
    color: rgb(64, 133, 133);

}
.info_block{
    width: 60%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}
h4{
    margin: 10px;
}
.cont_block{
    margin-top: 50px;
}
.cont_info{
    margin: 0.8rem;
    color: rgb(64, 133, 133);
    text-decoration: underline;
}
.gallery_info{
    text-align: center;
    margin-top: 3rem;
    font-size: 25px;
}